# Data folder
data/train_data.bin
data/formatted_training.txt
data/pippa_deduped.jsonl
data/training_corpus.txt
data/json/*

# Tokenizer
tokenizer/*

# Weights
weights/*.pth
weights/*.pt

tutorial/*
Agent*.md
train_turboquant.py